.custumer {
  padding: 60px 0px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &-item {
    margin-bottom: 30px;
  }
}

.item_margin {
  margin-right: 30px;
}

.custumer__link {
  padding: 14px 50px;
  fill: var(--icons-color);
  border: var(--icons-color) solid 1px;
  border-radius: 5px;

  &:hover,
  &:focus {
    fill: var(--accent-color);
    border: var(--accent-color) solid 1px;
    border-radius: 5px;
  }
}
@media screen and (min-width: 768px) {
  .custumer__link {
    padding: 14px 58px;
  }
  .custumer-item {
    margin-right: 0px;
    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }
    &:not(:last-child(3n)) {
      margin-right: 30px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .custumer {
    padding: 94px 0px;
  }
  .custumer__link {
    padding: 14px 31px;
  }
  .custumer-item:not(:last-child) {
    margin-right: 30px;
  }
}
