.footer {
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--background-dark-color);
  display: block;
  padding: 60px 0px 60px 0px;
}
.address {
  &__point {
    color: var(--main-color);
    font-style: normal;
    margin: 20px 0px 0px 0px;
    @include font(14px, 400, 24px);
  }
}
.logo--light {
  color: var(--main-color);
}

.address__link {
  @include font(14px, 400, 24px);

  margin-top: 9px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

footer .container {
  display: flex;
}
.join-us {
  margin: 12px 95px 0px 82px;

  &__text {
    text-transform: uppercase;
    color: var(--main-color);

    font-weight: bold;
    font-size: 14px;
    line-height: 1.2;

    margin-bottom: 20px;
  }
}
