.footer {
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--background-dark-color);
  display: block;
  padding: 60px 0px 60px 0px;
}
.address {
  text-align: center;
  margin: 20px 0px 60px 0px;
  &__point {
    color: var(--main-color);
    font-style: normal;
    margin: 20px 0px 0px 0px;
    @include font(14px, 400, 24px);
  }
}
.logo--light {
  color: var(--main-color);
}

.address__link {
  @include font(14px, 400, 24px);

  margin-top: 9px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.join-us {
  text-align: center;

  &__text {
    text-transform: uppercase;
    color: var(--main-color);

    font-weight: bold;
    font-size: 14px;
    line-height: 1.2;

    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 60px 0px 60px 0px;
  }
  .fotter_content {
    display: flex;
    padding: 0px 89px 0px 56px;
  }
  .address {
    width: 232px;
    margin: 0px 165px 0px 0px;
  }
  .join-us {
    max-width: 206px;
    margin-top: 5px;
  }
}
@media screen and (min-width: 1200px) {
  footer .container {
    display: flex;
  }
  .address {
    text-align: left;
    margin-right: 70px;
  }
  .fotter_content {
    padding: 0px 0px 0px 0px;
  }
  .join-us {
    text-align: left;
    margin-top: 12px;
  }
}
