.mobile-menu {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  padding: 48px 40px;
  z-index: 1000;

  color: var(--text-color);
  @include font(40px, 500, 47px);
  letter-spacing: 0.02em;
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:not(:last-child) {
    margin-bottom: 32px;
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.mobile-menu_address {
  margin: 302px 0px 64px 0px;
  @include font(24px, 500, 38px);
  color: var(--pretitle-text-color);
}
.mobile-menu_address-item {
  @include font(34px, 500, 40px);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 32px;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.links_list {
  display: flex;
  @include font(18px, 500, 22px);
  color: var(--pretitle-text-color);
}
.links_list-item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:not(:last-child) {
    margin-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.mobile-menu-closed {
  width: 40px;
  height: 40px;
  margin: 0px 0px 0px auto;

  display: block;
  position: absolute;
  top: 8px;
  right: 8px;

  border-radius: 50px;
  border-color: transparent;
  background-color: var(--main-color);
  cursor: pointer;

  background-image: url(../icons/vector.svg);
  background-repeat: no-repeat;
  background-position: center;

  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-image: url(../icons/crossblue.svg);
  }
}
.burger-icon {
  width: 40px;
  height: 40px;
  background-color: var(--main-color);
  border-color: transparent;
}
@media screen and (min-width: 768px) {
  .burger-icon {
    display: none;
  }
}
