
  .portfilio__button {
    background-color: var(--button-portfolio-color);
    border-radius: 4px;
    border-color: transparent;
    @include font(16px, 500, 26px);
    cursor: pointer;
  
    display: block;
    padding: 6px 22px;
    flex-basis: calc((100%-32) / 5);
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        background-color: var(--accent-color);
        border-color: transparent;
        color: var(--main-color);
        box-shadow: 0px 5px 1.5px -1.5px rgba(0, 0, 0, 0.14);
      }
  }
 
  .portfilio__button-list {
    display: flex;
    height: 54px;
    width: 614px;
    margin: 0px auto 34px auto;

     &-item:not(:nth-last-child(1)) {
        margin-right: 8px;
      }
  }
 