:root {
    --main-color: #ffffff;
    --background-light-color: #f5f4fa;
    --background-dark-color: #2f303a;
    --accent-color: #2196f3;
    --text-color: #212121;
    --pretitle-text-color: #757575;
    --logo-color: #000000;
    --button-hover-color: #188ce8;
    --button-portfolio-color: #f5f4fa;
    --border-color: #ececec;
    --icons-color: #afb1b8;
  }